@media (max-width:1220px) {
    body {
        font-size: 12px;
    }
    .short-menu {
        margin-left: 20px;
        min-width: 200px;
        height: 20px;
    }
    .achievement-counters {
        max-width: 300px;
    }
    .counter {
        max-width: 120px;
        margin-right: 8px;
        font-size: 11px;
    }
    .container {
        grid-template-columns: 200px auto;
    }
    .logo {
        min-width: 200px;
    }
    .header {
        left: 200px;
    }
    .sidebar {
        max-width: 200px;
    }
    .mailing-text {
        font-size: 11px;
    }
    .mailing-switch {
        width: 30px;
        height: 15px;
    }
    .mailing-switch:before {
        width: 11px;
        height: 11px;
        top: 2px;
        left: 3px;
    }
    .mailing-switch:checked:before {
        left: 16px;
    }
    .main-content {
        padding: 40px 25px;
    }
    .lectures-overtitle {
        font-size: 10px;
    }
    .lectures-title {
        font-size: 20px;
    }
    .lectures-topic {
        font-size: 15px;
    }
    .lectures-subtitle {
        font-size: 12px;
    }
    .lectures-btn {
        padding: 5px 8px;
    }
    .card-footer {
        padding: 8px;
        font-size: 10px;
    }
}

@media (max-width:1000px) {
    .lectures-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5px;
    }
    .about-user {
        overflow: scroll;
    }
    .achievement-counters {
        flex-direction: column;
        justify-content: space-around;
    }
    .counter {
        max-height: 20px;
        padding: 3px 5px;
        font-size: 12px;
    }
}