*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Jost', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #2D2E3C;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 40px;
    margin: 5px auto;
    border: 2px solid grey;
    min-width: 400px;
    max-width: 1024px;
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 700px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    width: 90%;
    height: 80px;
    background-color: #2C2D3B;
    border-bottom: 1px solid #9B9BA2;
    z-index: 20;
}


/* -------------------- Блок о пользователе -------------------- */

.user-bar {
    display: flex;
    max-width: 100%;
    height: 100%;
}

.avatar {
    position: relative;
    height: 50px;
    width: 50px;
}

.user-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45px;
    max-height: 45px;
}

.status-pro {
    position: absolute;
    top: 75%;
    left: 0;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    max-width: max-content;
    padding: 2px 5px;
}

.user-about {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.user-name {
    display: block;
    font-size: 12px;
}

.online {
    color: #24CB8D;
}

.offline {
    color: #cb3724;
}

.status-indicator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 1px;
}

.on {
    background-color: #24CB8D;
}

.off {
    background-color: #cb3724;
}

.counters {
    margin-top: 10px;
    margin-left: 5px;
}

.counters-top {
    display: flex;
}

.counters-top .counter:first-child {
    margin-right: 10px;
}

.counters-bottom {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.counter {
    line-height: 18px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    padding: 1px 2px;
}


/* -------------------- Блок с логотипом и меню -------------------- */

.logo {
    padding: 0 5px;
}

.menu {
    max-width: 200px;
    height: 100%;
}

.menu-block {
    margin-top: 2px;
    display: flex;
}

.settings {
    width: 40%;
    max-height: 35px;
}

.settings-img,
.burger-img {
    padding: 3px;
    width: 30px;
    height: 30px;
}

.burger {
    width: 55%;
    max-height: 35px;
    margin-left: 5px;
}

.burger-icon {
    margin-left: 50px;
}


/* ##### Всплывающее меню с настройками ##### */

.pop-up {
    border-radius: 10%;
    width: 30px;
    background-color: #565661;
}

.settings-menu {
    display: none;
}

.settings-menu-item,
.burger-menu-item {
    text-align: center;
    font-size: 8px;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #565661;
    border-bottom: 2px solid rgb(12, 11, 11);
    text-transform: uppercase;
}

.checkbox {
    display: none;
}

.checkbox:checked~.settings-menu {
    display: block;
}


/* -------------------- Блок с контентом -------------------- */

.content {
    margin: 5px auto;
    border: 3px solid aqua;
    width: 90%;
    z-index: 5;
}

.lectures {
    padding: 10px
}

.lectures:first-child {
    padding-top: 0;
}

.header-lectures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lectures-overtitle {
    font-size: 7px;
    text-transform: uppercase;
    color: #81828A;
}

.lectures-title {
    margin-top: 5px;
    font-size: 14px;
    color: #FFFFFF;
}

.lectures-nav {
    display: flex;
}

.btn {
    font-size: 10px;
    border-radius: 4px;
    background: linear-gradient(#6B69F9, #6F6EFF);
}

.lectures-btn {
    max-height: 20px;
    line-height: 12px;
    padding: 4px 7px;
}

.lectures-btn:active {
    background: rgba(68, 68, 123, 0.678);
    outline: 2px solid rgba(232, 243, 250, 0.61);
}

.arrow-btn {
    height: 20px;
    width: 20px;
    background: transparent;
    border: 1px solid #50515C;
    padding-top: 5px;
    padding-left: 4px;
    margin-left: 5px;
}

.arrow-right {
    transform: rotate(90deg);
}

.arrow-left {
    transform: rotate(270deg);
}

.arrow-btn:active {
    background: rgba(68, 68, 123, 0.678);
    outline: 2px solid rgba(232, 243, 250, 0.61);
}

.lectures-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    gap: 5px;
    margin-top: 25px;
    overflow: scroll;
}

.lectures-card {
    background: rgba(255, 255, 255, 0.04);
    min-width: 120px;
    max-height: 300px;
    border-radius: 6px;
}

.lecture-img {
    position: relative;
    max-width: 180px;
    height: 120px;
    border-radius: 6px 6px 0 0;
}

.lecture-img-1 {
    background: url(../images/lecture-1.jpg);
    background-size: cover;
}

.lecture-img-2 {
    background: url(../images/lecture-2.jpg);
    background-size: cover;
}

.lecture-img-3 {
    background: url(../images/lecture-3.jpg);
    background-size: cover;
}

.lecture-img-4 {
    background: url(../images/lecture-4.jpg);
    background-size: cover;
}

.lectures-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #6F6EFF;
    padding: 2px 2px;
    font-size: 8px;
}

.lecture-description {
    padding: 15px 15px 15px 15px;
    height: 80px;
}

.lectures-topic {
    display: block;
    font-size: 10px;
    line-height: 12px;
}

.lectures-subtitle {
    display: block;
    margin-top: 5px;
    font-size: 9px;
    color: #9B9BA2;
}

.card-footer {
    border-top: 1px solid #4A4B56;
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lectures-date {
    display: block;
}


/* -------------------- footer -------------------- */

.footer {
    padding: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 251, 250, 0.116);
    width: 90%;
    background-color: #2C2D3B;
    border-top: 1px solid #9B9BA2;
}

.promo {
    grid-column-start: 2;
    max-width: 80px;
}

.beein-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year {
    display: block;
    font-size: 11px;
}

.bee-logo {
    width: 25px;
    height: 20px;
}

.beein {
    display: block;
    font-size: 14px;
}

.mailing {
    margin-top: 10px;
    position: relative;
    width: 200px;
}

.mailing-text {
    position: absolute;
    top: 3px;
    left: 30px;
    color: #fff;
}

.switch {
    position: absolute;
    top: 0;
    right: 20px;
}

.mailing-switch:hover {
    outline: 1px solid rgb(121, 121, 122);
    background-color: rgba(88, 77, 185, 0.164);
}

.mailing-switch {
    width: 30px;
    height: 16px;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #5D5F6F;
    border-radius: 20px;
    transition: .15s;
}

.mailing-switch:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    top: 2px;
    left: 3px;
    background: rgb(111, 111, 112);
    transition: .5s;
    transform: scale(1.1);
}

.mailing-switch:checked:before {
    left: 16px;
    background: rgba(111, 110, 255, 1);
}