    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
        font-family: 'Jost', 'Arial', sans-serif;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    body {
        font-weight: 400;
        font-size: 14px;
        line-height: 10px;
        color: #fff;
        background-color: #2D2E3C;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: inherit;
        font-size: inherit;
    }
    
    .__mobile {
        display: none;
    }
    
    .gradient {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    }
    
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 280px auto;
        grid-template-rows: 70px auto;
        grid-template-areas: "logo  hedr" "navm  cont";
        height: 100vh;
    }
    
    .logo {
        grid-area: logo;
        min-width: 280px;
        height: 70px;
        background-color: rgba(156, 165, 236, 0.04);
        border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    }
    
    .logo-img {
        margin-top: 15px;
        margin-left: 20px;
    }
    /* ----------------------------HEADER----------------------------------- */
    
    .header {
        position: fixed;
        top: 0;
        left: 280px;
        right: 0;
        grid-area: hedr;
        height: 70px;
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(216, 216, 216, 0.1);
        background-color: #2D2E3C;
        z-index: 5;
    }
    
    .short-menu {
        margin-top: 23px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 300px;
        border-right: 1px solid rgba(216, 216, 216, 0.1);
        height: 24px;
    }
    
    .short-menu-link {
        color: #ABABB1;
    }
    
    .short-menu-link:hover {
        color: #fff;
    }
    
    .about-user {
        display: flex;
        margin-right: 5%;
    }
    
    .achievement-counters {
        max-width: 500px;
        display: flex;
        align-items: center;
    }
    
    .counter {
        width: fit-content;
        max-width: 150px;
        background-color: #55566b;
        max-height: 24px;
        text-align: center;
        margin-right: 10px;
        padding: 7px 9px;
        border-radius: 5px;
        font-size: 13px;
        cursor: pointer;
    }
    
    .counter:hover {
        outline: 1px solid #fff;
        font-weight: 600;
    }
    
    .working-hours {
        display: flex;
        align-items: center;
    }
    
    .working-hours>span {
        margin-left: 10px;
        font-size: 11px;
    }
    
    .time {
        font-size: 13px;
        font-weight: 600;
    }
    
    .working-hourse-icon {
        background-color: #FF4738;
        max-width: 18px;
        max-height: 18px;
        padding: 3px 5px;
        border-radius: 5px;
    }
    
    .user-bar {
        display: flex;
        margin-top: 15px;
        max-width: 500px;
        max-height: 44px;
    }
    
    .user-photo {
        max-width: 44px;
        max-height: 44px;
        cursor: pointer;
    }
    
    .user-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }
    
    .user-name {
        display: block;
        min-width: max-content;
        max-width: 350px;
    }
    
    .user-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 55px;
        color: #24CB8D;
        font-size: 13px;
        font-weight: 600;
    }
    
    .status-indicator {
        width: 6px;
        height: 6px;
        background-color: #24CB8D;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    .btn {
        font-size: 12px;
        max-width: max-content;
        height: fit-content;
        border-radius: 4px;
        background: linear-gradient(#6B69F9, #6F6EFF);
    }
    
    .btn:hover {
        cursor: pointer;
    }
    
    .status-pro {
        font-size: 11px;
        margin-top: 5px;
        margin-left: 10px;
        padding: 2px 11px 2px 8px;
    }
    /* ----------------------------SIDEBAR----------------------------------- */
    
    .sidebar {
        background-color: rgba(156, 165, 236, 0.04);
        max-width: 280px;
        grid-area: navm;
        padding-top: 30px;
    }
    
    .main-menu {
        max-width: 100%;
        border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    }
    
    .arrow-img {
        margin-right: 15%;
        width: 12px;
        height: 12px;
        padding: 3px 1px;
        transform: rotate(180deg);
    }
    
    .arrow-right {
        transform: rotate(90deg);
    }
    
    .arrow-left {
        transform: rotate(270deg);
    }
    
    label {
        cursor: pointer;
    }
    
    .menu-item {
        padding: 10px 0 10px 10%;
        line-height: 20px;
        text-transform: uppercase;
        border-left: 3px solid transparent;
    }
    
    .menu-item:hover {
        color: #fff;
        background-color: #373949;
        border-left: 3px solid rgba(111, 110, 255, 1);
    }
    
    .submenu-link {
        display: flex;
    }
    
    .pop-up {
        display: flex;
        justify-content: space-between;
    }
    
    .submenu {
        display: none;
    }
    
    .submenu-item {
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .submenu-icon {
        margin-top: 3px;
        max-height: 15px;
        padding-right: 20px;
    }
    
    .checkbox {
        display: none;
    }
    
    .checkbox:checked~.submenu {
        display: block;
    }
    /* 
        .checkbox:checked~.arrow-img {
        transform: rotate(180deg);
    } */
    
    .mailing {
        margin-top: 50px;
        max-width: 280px;
        position: relative;
    }
    
    .mailing-text {
        cursor: help;
        position: absolute;
        top: 3px;
        left: 30px;
        color: #999AA2;
    }
    
    .switch {
        position: absolute;
        top: 0;
        right: 15%;
    }
    
    .mailing-switch:hover {
        outline: 1px solid rgb(121, 121, 122);
        background-color: rgba(88, 77, 185, 0.164);
    }
    
    .mailing-switch {
        width: 40px;
        height: 22px;
        -webkit-appearance: none;
        outline: none;
        border: 1px solid #5D5F6F;
        border-radius: 20px;
        transition: .15s;
    }
    
    .mailing-switch:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 20px;
        top: 3px;
        left: 3px;
        background: rgb(111, 111, 112);
        transition: .5s;
        transform: scale(1.1);
    }
    
    .mailing-switch:checked:before {
        left: 20px;
        background: rgba(111, 110, 255, 1);
    }
    /* ----------------------------Content----------------------------------- */
    
    .main-content {
        grid-area: cont;
        padding: 40px 55px;
        overflow: auto;
    }
    
    .main-content::-webkit-scrollbar {
        width: 0;
    }
    
    .lectures {
        padding-top: 60px;
    }
    
    .lectures:first-child {
        padding-top: 0;
    }
    
    .header-lectures {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .lectures-overtitle {
        font-size: 11px;
        text-transform: uppercase;
        color: #81828A;
    }
    
    .lectures-title {
        margin-top: 5px;
        font-size: 22px;
        color: #FFFFFF;
    }
    
    .lectures-nav {
        display: flex;
    }
    
    .lectures-btn {
        padding: 7px 13px;
        line-height: 18px;
    }
    
    .lectures-btn:hover {
        background: rgba(68, 68, 123, 0.678);
        outline: 2px solid rgba(232, 243, 250, 0.61);
    }
    
    .arrow-btn {
        text-align: center;
        height: 30px;
        width: 30px;
        background: transparent;
        border: 1px solid #50515C;
        padding: 8px 5px;
        margin-left: 5px;
    }
    
    .arrow-btn:hover {
        background: rgba(68, 68, 123, 0.678);
        outline: 2px solid rgba(232, 243, 250, 0.61);
    }
    
    .lectures-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        margin-top: 25px;
    }
    
    .lectures-card {
        background: rgba(255, 255, 255, 0.04);
        max-width: 255px;
        max-height: 320px;
        border-radius: 6px;
    }
    
    .lecture-img {
        position: relative;
        max-width: 255px;
        height: 170px;
        border-radius: 6px 6px 0 0;
    }
    
    .lecture-img-1 {
        background: url(../images/lecture-1.jpg);
        background-size: cover;
    }
    
    .lecture-img-2 {
        background: url(../images/lecture-2.jpg);
        background-size: cover;
    }
    
    .lecture-img-3 {
        background: url(../images/lecture-3.jpg);
        background-size: cover;
    }
    
    .lecture-img-4 {
        background: url(../images/lecture-4.jpg);
        background-size: cover;
    }
    
    .lectures-label {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: #6F6EFF;
        padding: 4px 5px;
        font-size: 12px;
    }
    
    .lecture-description {
        padding: 15px 15px 15px 15px;
        height: 90px;
    }
    
    .lectures-topic {
        display: block;
        font-size: 16px;
        line-height: 15px;
    }
    
    .lectures-subtitle {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #9B9BA2;
    }
    
    .card-footer {
        border-top: 1px solid #4A4B56;
        padding: 15px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .lectures-date {
        display: block;
    }